:root {
    --theme-color: #c0392b;
    --dark-color: #2d3436;
    --light-color: #ecf0f1;
    --hover-color: #2ecc71;
    --details-bg: #95a5a6;
    --white-color: #fff;
    --black-color: #000;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* UTILITIES */
.container {
    padding: 5.8rem 7rem 5.8rem 7rem;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}
.hidden {
    display: none;
}
  /* End of UTILITIES */
body {
    width: 100%;
}

/* Header Section */
header {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 3.3rem;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    background-image: url("img/smile.jpg");
    color: var(--light-color);
    background-position: center;
}
nav {
    margin-left: auto;
    font-size: 3.5rem;
    margin-right: 5.9rem;
}
.nav-bar {
    text-decoration: none;
    list-style: none;
    display: flex;
}
.nav-item {
    display:flex;
    margin-right: 2.8rem;
}
.nav-link {
    color: var(--light-color);
    text-decoration: none;
}
.nav-link:hover {
    color: var(--hover-color);
    transform: translateY(-0.39rem);
    -webkit-transform: translateY(-0.39rem);
    -moz-transform: translateY(-0.39rem);
    -ms-transform: translateY(-0.39rem);
    -o-transform: translateY(-0.39rem);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-decoration: underline;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
    font-size: 5.5rem;
}
.quote {
    position: absolute;
    bottom: 0;
}

/* Main Content Section */
#main-content {
    font-size: 2.3rem;
    color: var(--dark-color);
    background-color: var(--light-color);
}

form {
    font-size: 2.5rem;
}

textarea {
    margin-top: 1.2rem;
    resize: vertical;
    background-color: var(--light-color);
    color: #000;
}

.btn {
    background-color: #27ae60;
    color: var(--black-color);
    width: 10rem;
    font-size: 2rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0.5rem 0.5rem 2rem 0.8rem var(--dark-color);
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem);
}

#user-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.2rem;
}

#statements {
    position: relative;
    background-color: var(--white-color);
    padding: 1.2rem;
}

.radio {
    position: absolute;
    right: 0;
}

#statements [type="radio"] {
    margin-right: 12rem;
}

#options {
    width: 100%;
    position: relative;
}

.options-ul {
    width: 100%;
    position: relative;
    display: flex;
    list-style: none;
    justify-content: right;
    font-size: 1.8rem;
}

.options-li {
    margin-right: 5.5rem;
    font-weight: bold;
    font-size: 2rem;
}

#contact-info {
    background-color: var(--white-color);
    color: var(--dark-color);
    padding: 2rem;
}

.cont-info {
    width: 30rem;
    height: 5rem;
    font-size: 2.1rem;
    padding-left: 1.1rem;
    padding-top: 2.1rem;
    background-color: var(--details-bg); /*#95a5a6*/
    border-bottom: 0.4rem solid var(--black-color);
    margin-bottom: 1rem;
}

.cont-info::placeholder {
    color: var(--black-color);
}